:host {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .favorite-modal-main-container {
    flex: 1;
    min-height: 0;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  app-search-bar {
    width: 100%;
  }

  app-card-item {
    height: 300px;
    margin-bottom: 15px;

    .mat-mini-fab {
      position: absolute;
      top: 10px;
      right: 10px;
    }
  }
}
