<app-search-bar #searchBar placeholder="Search favorites by title"></app-search-bar>

<div class="favorite-modal-main-container">
  <app-card-item *ngFor="let item of favoritesListFiltered$ | async; trackBy: trackByFn"
                 [title]="item.title"
                 [image]="item.image">
    <button mat-mini-fab (click)="removeFavorite(item)">
      <mat-icon>close</mat-icon>
    </button>
  </app-card-item>
</div>

