@import '~@angular/material/theming';

// Define wallapop color palette
$wallapop-color-palette: (
  50 : #e3f8f5,
  100 : #b9ece6,
  200 : #8be0d6,
  300 : #5cd4c5,
  400 : #39cab8,
  500 : #16c1ac,
  600 : #13bba5,
  700 : #10b39b,
  800 : #0cab92,
  900 : #069e82,
  A100 : #cafff4,
  A200 : #97ffe9,
  A400 : #64ffdf,
  A700 : #4affda,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);


// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$primary: mat-palette($wallapop-color-palette);
$accent:  mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$app-theme: mat-light-theme($primary, $accent, $warn);
