:host {
  display: block;
  position: relative;
  height: 420px;
  width: 220px;
  border-radius: 10px;
  box-shadow: 0 0 2px 0 rgba(0,0,0,.1);

  .mat-card {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;

    mat-card-content p {
      position: relative;
      overflow: hidden;
      color: #607D8B;
      word-wrap: break-word;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      // see: https://github.com/angular/angular/issues/24183
      /* autoprefixer: ignore next */
      -webkit-box-orient: vertical;
    }

    mat-card-title, mat-card-subtitle, mat-card-content div {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    mat-card-subtitle {
      font-size: 18px;
    }
  }
}
