<mat-card>
  <img mat-card-image [src]="image">
  <mat-card-title>{{ price }}</mat-card-title>
  <mat-card-subtitle>{{ title }}</mat-card-subtitle>
  <mat-card-content>
    <p> {{ description }} </p>
    <div>{{ email }}</div>
  </mat-card-content>
  <ng-content></ng-content>
</mat-card>
