<div class="main-header">
  <app-search-bar [value]="appModel.search$ | async" [debounceTime]="300" (inputChange)="onSearchInputChange($event)">
  </app-search-bar>

  <mat-form-field>
    <mat-label>Search criteria</mat-label>
    <mat-select [value]="appModel.searchCriteria$ | async" (valueChange)="onSearchCriteriaChange($event)">
      <mat-option *ngFor="let criteria of searchCriteriaValues" [value]="criteria">
        {{criteria}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Order by</mat-label>
    <mat-select [value]="appModel.orderBy$ | async" (valueChange)="onOrderByChange($event)">
      <mat-option *ngFor="let criteria of searchCriteriaValues" [value]="criteria">
        {{criteria}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div class="main-container">
  <div class="card-items-container">
    <app-card-item *ngFor="let item of appModel.itemsList$ | async; trackBy: trackByFn"
                   [title]="item.title"
                   [description]="item.description"
                   [email]="item.email"
                   [image]="item.image"
                   [price]="item.price + ' ' + currentCurrency">
      <button mat-mini-fab [style.background-color]="isItemFavorite(item) ? '' : 'gray'" (click)="toggleItemToFavorites(item)">
        <mat-icon>favorite</mat-icon>
      </button>
    </app-card-item>
    <button mat-stroked-button color="primary" class="show-more-items-button" (click)="showMoreItems()">Show more</button>
  </div>
  <button mat-fab id="favorite-modal-button" (click)="onFavoriteClicked()">
    <mat-icon>favorite</mat-icon>
  </button>
</div>


