:host {
  .main-header {
    display: flex;
    align-items: flex-end;
    height: 80px;
    background-color: #fff;
    border-bottom: 1px solid;
    border-color: rgba(236, 239, 241, .5);
    position: fixed;
    padding: 0 20px;
    top: 0;
    width: 100%;
    box-shadow: 0 2px 4px 0 rgba(37, 50, 56, .03);
    box-sizing: border-box;
    z-index: 1;

    .mat-form-field {
      margin-left: 20px;
      min-width: 50px;
    }
  }

  app-search-bar {
    flex: 1;
    max-width: 400px;
    min-width: 150px;
  }

  .main-container {
    position: relative;
    height: calc(100% - 80px);
    margin-top: 80px;

    .card-items-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      height: 100%;
      overflow: auto;
    }

    app-card-item {
      margin: 10px;

      .mat-mini-fab {
        position: absolute;
        top: 10px;
        right: 10px;
      }
    }

    button.mat-fab {
      position: absolute;
      right: 24px;
      bottom: 24px;
    }

    .show-more-items-button {
      height: 420px;
      width: 220px;
      margin: 10px;
    }
  }
}
